<!-- wp:custom-blocks/main-nav  /-->

<!-- wp:heading {"level": 1} -->
<h1 class="wp-block-heading has-text-align-center">Collins Music Academy</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">About Us</h3>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		Sarah Collins is a passionate music educator who has been teaching piano and
		guitar for over 15 years. She recently founded Collins Music Academy, a
		local music school dedicated to providing high-quality, personalized music
		instruction for students of all ages.
	</p>
	<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Feature Instructors</h3>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>
	Sarah Collins is a passionate music educator who has been teaching piano and
	guitar for over 15 years.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
	Billy Jones is a passionate music educator who has been teaching flute and
	drums for over 10 years.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
	Sarah Jones is a passionate music educator who has been teaching volin for
	over 5 years.
</p>
<!-- /wp:paragraph -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">Testimonals</h3>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->

	<p>
		<strong>Bob Brown</strong>
		"I was afraid to start play piano but after signing up for a trial class I
		felt more comfortable to start learning".
	</p>

	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		<strong>Sue Smith</strong>
		"Thanks to Collins Music Academy I am able to follow my passion in learning
		the guitar".
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		<strong>Alex Garcia</strong>
		"I was afraid to start play piano but after signing up for a trial class I
		felt more comfortable to start learning".
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:button -->
	<div class="wp-block-button">
		<a class="wp-block-button__link wp-element-button"> Sign Up </a>
	</div>
	<!-- /wp:button -->

	<!-- wp:button -->
	<div class="wp-block-button">
		<a class="wp-block-button__link wp-element-button"> Trial Classes </a>
	</div>
	<!-- /wp:button -->
</section>
<!-- /wp:group -->
