<!-- wp:template-part {"slug":"nav", "tagName": "nav"} /-->

<!-- wp:heading {"level": 1} -->
<h1>Music Instructor</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:paragraph -->
	<p>
		Sarah Collins is a passionate music educator who has been teaching piano and
		guitar for over 15 years. Sarah Collins believes you are not to young or too
		old to learn how to play.
		<br />
		Email: collins@gmail.com
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		Billy Jones is a passionate music educator who has been teaching flute and
		drums for over 10 years. By pushing yourself a bit more you are able to
		accomplish many things.
		<br />
		Email: Jones@gmail.com
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		Sarah Jones is a passionate music educator who has been teaching volin for
		over 5 years. Pratices makes perfect!
		<br />
		Email: sjones@gmail.com
	</p>
	<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->
