<!-- wp:template-part {"slug":"nav", "tagName": "nav"} /-->

<!-- wp:heading {"level": 1} -->
<h1>Instrument Lessons</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Instrument Available</h4>
<!-- /wp:heading -->

<!-- wp:list -->
<ul>
	<!-- wp:list-item -->
	<li>Piano</li>
	<!-- /wp:list-item -->
	<!-- wp:list-item -->
	<li>Guitar</li>
	<!-- /wp:list-item -->
	<!-- wp:list-item -->
	<li>Flute</li>
	<!-- /wp:list-item -->
	<!-- wp:list-item -->
	<li>Drum</li>
	<!-- /wp:list-item -->
	<!-- wp:list-item -->
	<li>Volin</li>
	<!-- /wp:list-item -->
</ul>
<!-- /wp:list -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Description & Pricing</h4>
<!-- /wp:heading -->

<!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Beginner</h5>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>
	In the beginner class you will start to learn the foundations of the
	instrument of your choosing. You will then learn how to read the music notes.
	Lastly you will start to learn how to play basic songs such as Happy Birthday!
	Starting prices $300
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Intermediate</h5>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>
	In the intermediate class you will start to advance more into intermediate
	song place. You will also be quiz in the music notes and start to learn how to
	write music to be able to play in front of the instructor. Starting prices
	$450
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Advance</h5>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>
	In the Advance class you will start to learn how to play diffcult music song.
	In addition you will be given a song and will need to play it in front of the
	instructors. You will have a chances to learn any song from your choosing.
	Starting prices $600
</p>
<!-- /wp:paragraph -->

<!-- wp:button -->
<div class="wp-block-button">
	<a
		href="https://www.youtube.com/watch?v=827jmswqnEA"
		class="wp-block-button__link wp-element-button"
	>
		click here to view a lesson
	</a>
</div>
<!-- /wp:button -->
